<head>
    <title>{{SITE_NAME}} | About this research</title>
</head>

<div class="slide-infinite research">
    <div class="row header-row height-20">
        <div class="col-md-12">
            <h1 class="text-center">
                About this research
            </h1>
        </div>
    </div>
    <div class="row height-40 text-center">
        <img src="img/research.gif" style="height: 100%"/>
    </div>
    <div class="row info-row height-40">
        <div class="col-md-12 va-outer">
            <div class="va-center">
                At a 1906 county fair, the statistician Francis Galton watched as eight hundred people competed to guess the weight of an ox. He famously observed that the median of the guesses, 1,207 pounds, was, remarkably, within 1% of the true weight.
                <br/>
                <br/>
                Simple aggregation -- as in the case of Galton's ox competition, or voting in democratic elections -- has been shown to be a surprisingly powerful technique for prediction, inference, and decision-making. Over the last century, there have been dozens of studies that examine this wisdom of crowds effect. However, given the diversity of experimental designs, subject pools, and analysis methods used, it has proven difficult to compare studies and extract general principles. It is thus unclear whether these documented examples are a representative collection of a much larger space of tasks that exhibit a wisdom of crowds phenomenon, or conversely, whether they are highly specific instances of an interesting, though ultimately limited occurrence.
                <br/>
                <br/>
                We developed this online game to systematically investigate the wisdom of crowds effect.
                <br/>
                <br/>
                Players are presented with 1,000 questions drawn from 50 domains. The questions include tests of explicit knowledge (e.g., general knowledge, spatial reasoning, and popular culture), tacit knowledge (e.g., emotional intelligence, knowledge of cultural norms, and foreign language skills), and prediction ability (e.g., election outcomes, and box office success of upcoming movies). The domains span four different types of media (text, image, video, and audio) and four answer types (point estimate, binary, multiple choice, and ranking).
                <br/>
                <br/>
                Given the scale of this experiment, its design and implementation was conducted collaboratively by a group of approximately 100 undergraduate students in India and led by two graduate students at Stanford, as part of Stanford's Aspiring Researchers Challenge. This unconventional approach -- in which we leveraged the wisdom of crowds to study the wisdom of crowds -- allowed us to analyze a much larger and more diverse set of tasks than would be possible with traditional methods
            </div>
        </div>
    </div>
</div>
